.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 20px;
  color: white;
  display: flex;
}

.App-header h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.App-header h5 {
  margin-top: 0;
  color: #61DAFB;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.list-group > div:first-child > .list-group-item {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


/* Matches style */

.panel {
  margin-bottom: 0;
  border: 0;
}

.panel-body {
    padding: 0;
}

td:first-child {
  text-align: right;
}

td:nth-child(2) {
  text-align: center;
}